.hud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: white;
    font-size: 18px;
}
.lefthud{
    display: flex;
    gap: 20px;  
}
.item {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.icon {
    
    font-size: 22px;
}